body {
    background-color: yellow;
    margin: 50px 20px 50px 20px;
}

.mainTitle{
    text-align: center;

    font-size: 60px;
    font-weight: bold;
    
}

.searchMovie {
    margin-top: 50px;
    font-size: 25px;
    font-weight: bold;

    text-align: center;

}