
        body {
            background-color: yellow;
        }

        header>h1 {
            color: black;
            font-size: 70px;
            font-weight: bold;
            text-align: center;

            border: 5px solid red;
            border-radius: 5px;
            padding: 70px 0px 70px 0px;
        }

        .search {
            text-align: center;
            font-size: 30px;
            font-weight: bold;

            border: 5px solid red;
            border-radius: 5px;
        }

        .movieCards {
            float: left;
            border: 5px solid red;
            border-radius: 5px;
            width: 500px;
            background-color: green;
        }